In [1]:
#Setup openai libraries
!pip install pandas
!pip install openai

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

Requirement already satisfied: pandas in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (2.1.2)
Requirement already satisfied: numpy<2,>=1.22.4 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: openai in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (1.2.1)
Requirement already satisfied: anyio<4,>=3.5.0 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from openai) (3.5.0)
Requirement already satisfied: distro<2,>=1.7.0 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from openai) (1.8.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from openai) (0.25.1)
Requirement already satisfied: pydantic<3,>=1.9.0 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from openai) (2.4.2)
Requirement already satisfied: tqdm>4 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from openai) (4.66.1)
Requirement already satisfied: typing-extensions<5,>=4.5 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from openai) (4.7.1)
Requirement already satisfied: idna>=2.8 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from anyio<4,>=3.5.0->openai) (3.4)
Requirement already satisfied: sniffio>=1.1 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from anyio<4,>=3.5.0->openai) (1.2.0)
Requirement already satisfied: certifi in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from httpx<1,>=0.23.0->openai) (2023.7.22)
Requirement already satisfied: httpcore in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from httpx<1,>=0.23.0->openai) (1.0.1)
Requirement already satisfied: annotated-types>=0.4.0 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from pydantic<3,>=1.9.0->openai) (0.6.0)
Requirement already satisfied: pydantic-core==2.10.1 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from pydantic<3,>=1.9.0->openai) (2.10.1)
Requirement already satisfied: h11<0.15,>=0.13 in /opt/anaconda3/envs/hr1/lib/python3.9/site-packages (from httpcore->httpx<1,>=0.23.0->openai) (0.14.0)

In [2]:
import os
import pandas as pd
from openai import OpenAI

#Setup the OpenAI key. Ensure that this is your key in order for it to work
client = OpenAI(
  api_key="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",  
)

In [3]:
#Define method to get responses from OpenAI for prompts
def getOpenAIResponse(prompt):
    
    completion = client.chat.completions.create(
      model="gpt-3.5-turbo", 
      messages=[{"role": "user", 
                 "content": prompt}]
    )

    return completion.choices[0].message.content

In [4]:
#read the input resume CSV
candidate_resumes = pd.read_csv("candidate-resumes.csv")
candidate_resumes.head()

     Candidate                                         ResumeText
0  Candidate-1  Skills * Programming Languages: Python (pandas...
1  Candidate-2  Education Details \r\nMay 2013 to May 2017 B.E...
2  Candidate-3  Areas of Interest Deep Learning, Control Syste...
3  Candidate-4  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Candidate-5  Education Details \r\n MCA   YMCAUST,  Faridab...

In [5]:
#Setup the result dataframe
candidate_evaluation = pd.DataFrame(columns=["Candidate","Spark","Python","Java"])

#Setup the base command in the prompt to get candidate evaluations in JSON
command="""Analyze this resume and score the candidate's skill levels in 
Spark, Python and Java  on a scale of 1 to 5, 5 being the highest. 
Return results in JSON format with only. The output should look like this example :
{"Spark" :1, "Python": 2, "Java": 3}"""

#Loop through the resumes and trigger summarization
for index,candidate in candidate_resumes.iterrows():
    
    #Setup the rpomot
    prompt= command + " ```" + candidate["ResumeText"] + "```"
    
    #Get responses from OpenAI
    response=getOpenAIResponse(prompt)

    #Convert JSON output to a pandas Series
    candidate_score = pd.read_json(response, typ="series",orient="records")
    candidate_score["Candidate"]=candidate["Candidate"]
    
    #add Series to the result dataframe
    candidate_evaluation = pd.concat(
        [candidate_evaluation,candidate_score.to_frame(0).T])
    
    print("Completed candidate " + candidate["Candidate"])
    
#Print the final dataframe
candidate_evaluation

Completed candidate Candidate-1
Completed candidate Candidate-2
Completed candidate Candidate-3
Completed candidate Candidate-4
Completed candidate Candidate-5
Completed candidate Candidate-6
Completed candidate Candidate-7
Completed candidate Candidate-8
Completed candidate Candidate-9
Completed candidate Candidate-10

      Candidate Spark Python Java
0   Candidate-1     1      3    2
0   Candidate-2     1      3    1
0   Candidate-3     1      3    2
0   Candidate-4     1      3    2
0   Candidate-5     1      2    3
0   Candidate-6     1      3    2
0   Candidate-7     1      3    0
0   Candidate-8     1      5    3
0   Candidate-9     1      3    1
0  Candidate-10     3      5    1